/* ====================主页样式表===========create by kapcb date 2020/08/16========= */

/* 顶部导航条容器 */
.top-bar-wrapper {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

/* 设置左侧导航栏 */
.service,
.top-bar li {
    float: left;
}

.app {
    position: relative;
}

/* 设置倒三角 */
.sanjiao {
    width: 0px;
    height: 0px;
    /* 设置边框颜色透明 */
    border: 8px solid transparent;
    border-color: transparent transparent #fff transparent;
    /* 消除上边框 */
    border-top: none;
    /* 居中 */
    margin: 0 auto;
    position: absolute;
    top: 32px;
    left: 10px;
    display: none;
}

/* 设置app下拉框 */
.app .qrcode {
    width: 124px;
    height: 0;
    overflow: hidden;
    /* 重置行高，后买你的span继承，不然span中行高继承的是40px，会被挤出div */
    line-height: 1;
    /* 设置span字体居中 */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    /* 开启绝对定位，相对于父元素，所以开启.app的相对定位 */
    position: absolute;
    top: 40px;
    left: -45px;
    /* display: none; */
    /* transition：用于为元素设置过渡效果 */
    transition: height 0.3s;
}

/* 下拉框移入效果 */
.app:hover .sanjiao {
    display: block;
}

/* app二维码 */
.app:hover .qrcode {
    display: block;
    height: 148px;
    z-index: 9999;
}

.app img {
    width: 90px;
    height: 90px;
    margin: 17px 17px;
    margin-bottom: 10px;
}

.header-wrapper {
    position: relative;
}

.app span {
    color: black;
    font-size: 14px;
}

/* 设置右侧导航栏 */
.shop-car,
.user-info {
    float: right;
}

/* 设置文字颜色 */
.top-bar a {
    font-size: 12px;
    color: #b0b0b0;
    /* 设置 a 标签周围都能点击超链接 */
    display: block;
}

/* 设置鼠标移入效果 */
.top-bar a:hover {
    color: white;
}

.top-bar-line {
    color: #424242;
    font-size: 12px;
    margin: 0 .6em;
}

.shop-car {
    margin-left: 26px;
}

/* 设置购物车样式 */
.shop-car a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-car:hover a {
    color: orange;
    background-color: #fff;
}

/* 设置中间的header */
.header {
    height: 100px;
    /* background-color: red; */
}

/* 设置logo中h1的样式 */
.header .logo {
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    float: left;
    overflow: hidden;
    /* 首行缩进，让h1中得 小米官网 往左移动，隐藏起来，队搜索引擎友好 */
    text-indent: -100px;
}

/* 设置 logo中a标签的样式 */
.header .logo a {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    /* background-color: transparent; */
    /* background-size: contain; */
    background-image: url(../img/mi-logo.png);
    background-color: #ff6700;
    transition: left 0.2s;
}

/* 设置 home 图片 */
.header .logo .home {
    left: -55px;
    background-image: url(../img/mi-home.png);
    background-color: #ff6700;
}

/* 设置 mi 图片移入效果 */
.header .logo:hover .mi {
    left: 55px;
}

/* 移入效果 */
.header .logo:hover .home {
    left: 0;
}

/* 设置中间导航条 */
.header .nav-wrapper {
    float: left;
    margin-left: 7px;
}

/* 设置导航条 */
.header .nav {
    /* background-color: #bfa; */
    line-height: 100px;
    padding-left: 58px;
}

/* 设置导航条中的li标签样式 */
.header .nav>li {
    float: left;
}

/* .main-left-menu的父元素，使其相对于绝对对位 */
.nav .all-goods-wrapper {
    position: relative;
    /* background-color: red; */
}

/* 设置中间左部导航栏的样式 */
.nav .main-left-menu {
    width: 234px;
    height: 420px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 555;
    left: -120px;
    line-height: 1;
    padding: 20px 0;
}

/* 设置导航栏中的a标签的样式 */
.header ul .main-left-menu li a {
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}

/* 设置导航栏中a标签鼠标移入样式 */
ul .main-left-menu li a:hover {
    color: white;
    background-color: #ff6700;
}

/* 设置箭头图标样式 */
.main-left-menu a i {
    line-height: 42px;
    float: right;
}

/* 设置li标签中a标签的样式 */
.header .nav-wrapper li a {
    display: block;
    font-size: 16px;
    margin-right: 20px;
    color: black;
}

.nav-wrapper li a:hover {
    color: #ff6700;
}

.all-goods {
    visibility: hidden;
}

.nav-wrapper .nav .goods-info {
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    /* border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2); */
    position: absolute;
    top: 100px;
    left: 0;
    transition: height 0.3s;
    z-index: 999;
}

/* ~兄弟选择器，选择后面所有的 */
.nav-wrapper .nav li:not(:first-of-type):not(:nth-child(9)):not(:nth-child(10)):hover~.goods-info,
.nav-wrapper .goods-info:hover {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .3);
    background-color: #fff;
}

/* 搜索框 */
.search-wrapper {
    width: 296px;
    height: 50px;
    float: right;
    background-color: red;
    margin-top: 25px;
    /* border:  1px solid rgb(224, 224, 224); */
}

/* 消除输入框与搜索按钮之间的间隙，让两者都向左浮动 */
.search-wrapper .search-input {
    box-sizing: border-box;
    width: 244px;
    float: left;
    border: none;
    padding: 0;
    height: 50px;
    /* 使输入框中的输入的字不要紧贴边框 */
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    /* 将轮廓线设置失效 */
    outline: none;

}

/* 设置input输入框的点击时获取焦点的样式,在input框获取焦点时，也选中button标签 */
.search-wrapper .search-input:focus,
.search-wrapper .search-input:focus+button {
    border-color: #ff6700;
}

/* 设置搜索框按钮的样式 */
.search-wrapper .search-btn {
    float: left;
    width: 52px;
    height: 50px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    outline: none;
}

/* 设置button的鼠标移入样式 */
.search-wrapper .search-btn:hover {
    background-color: #ff6700;
    color: #fff;
    border: none;
}


/* 设置banner的样式 */
.banner-wrapper {
    width: 1226px;
    height: 460px;
    margin: 0 auto;
}

/* 开启相对定位 */
.banner {
    position: relative;
    height: 460px;
}

/* 设置banner中的img标签样式 */
.banner .img-list li {
    position: absolute;
}

/* 设置图片的样式 */
.banner img {
    width: 100%;
    vertical-align: top;
}


/* 设置小圆点的样式 */
.pointer {
    position: absolute;
    right: 35px;
    bottom: 22px;
}

.pointer a {
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    margin-left: 6px;
}

.pointer a:hover,
.pointer a.active {
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .4);
}

/* 设置banner箭头雪碧图导航 */
.prev-next a {
    width: 41px;
    height: 69px;
    /* background-color: red; */
    background-image: url(../img/icon-slides.png);
    position: absolute;
    /* 水平居中显示 */
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/* banner箭头雪碧图定位 */
.prev-next .prev {
    left: 234px;
    background-position: -84px 0;
}

.prev-next .next {
    right: 0;
    background-position: -125px 0;
}

/* 鼠标移入效果 */
.prev-next .prev:hover {
    background-position: 0 0;
}

.prev-next .next:hover {
    background-position: -42px 0;
}

/* 设置回到顶部的样式 */
.back-top {
    width: 26px;
    height: 206px;
    background-color: orange;
    /* 开启固定定位 */
    position: fixed;
    /* 浏览器自动计算的举例 + 固定的距离 = 紧贴banner */
    bottom: 150px;
    right: 50%;
    margin-right: -639px;
}

/* 设置banner底部三个图片的样式 */
.banner-bottom-img {
    background-color: #fff;
    height: 170px;
    margin-top: 14px;

}

/* 设置底部图片以及底部左侧快捷方式浮动 */
.imgs .shortcut,
.imgs .banner-bottom-img,
.imgs li {
    float: left;
}

/* 设置左侧快捷方式 */
.imgs .shortcut {
    width: 228px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
    margin-top: 14px;
    padding-top: 2;
    padding-left: 6px;
}

.imgs .shortcut a {
    /* 设置超链接外部可点击 */
    display: block;
    color: #cfccca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    /* 开启bfc */
    overflow: hidden;
}

.imgs .shortcut a:hover {
    color: #fff;
}

/* 设置图标字体样式 */
.imgs .shortcut i {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.imgs .shortcut li {
    position: relative;
}

/* 设置上边框 */
.imgs .shortcut li::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #665657;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
}

/* 设置左边框 */
.imgs .shortcut li::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #665657;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;

}

.imgs .banner-bottom-img li {
    width: 316px;
    margin-right: 15px;
}

.imgs .banner-bottom-img li:last-child {
    margin: 0;
}

.imgs .banner-bottom-img img {
    width: 100%;
    vertical-align: top;
}

/* ====================主页样式表===========create by kapcb date 2020/08/16========= */